/* general styling */

.titleSection h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 12px;
}

strong {
    font-weight: 900;
}

.hide {
    display: none;
}

/* Sidebar styling */

.sideBarBlock {
    background: white;
    border-radius: 2px;
    box-shadow: 0 1px 2px #c9cccd;
    margin-bottom: 20px;
    margin-top: 25px;
    padding: 15px;
}

.sideBarBlock h4 {
    margin: 0 0 20px 0;
    color: #363838;
    font-size: 20px;
}

.sideBarBlock .line {
    height: 1px;
    line-height: 1px;
    border-bottom: solid 1px #cfd5d7;
}

.sideBarBlock .categoryContainer {
    font-size: 14px;
    margin-top: 20px;
}

.sideBarBlock ul {
    margin: 0;
    padding: 0;
}

.sideBarBlock li {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    line-height: 35px; 
}

.sideBarBlock li a {
    color: #363838;
}

.sideBarBlock li span {
    margin-top: 7px;
}

/* category container (in the sidebar) styling */

.topicCategoriesTitle {
    color: #363838;
}

.topicCategoriesTitle:hover {
    color: #2196f3;
}

.sideBarBlock .categoryContainer {
    font-size: 14px;
    margin-top: 20px;
}

.sideBarBlock .categoryContainer a:hover {
    color: #2196f3;
}

.sideBarBlock .categoryContainer > a {
    margin-top: 15px;
    display: block;
}

.sideBarBlock .categoryContainer > a svg {
    padding-top: 2px;
}

/* sideBar login Container */

.sideBarLoginContainer {
    padding: 15px 0 0 0;
}

.sideBarLoginContainer input[type="text"] {
    margin-bottom: 0;
}

.sideBarLoginContainer input[type="password"] {
    margin-bottom: 5px;
}

.sideBarLoginContainer input[type="text"]:focus {
    border-bottom: 1px solid rgb(33, 150, 243) !important;
    box-shadow: 0 1px 0 0 rgb(33, 150, 243) !important;
}

.sideBarLoginContainer input[type=password]:focus {
    border-bottom: 1px solid rgb(33, 150, 243) !important;
    box-shadow: 0 1px 0 0 rgb(33, 150, 243) !important;
}

.sideBarLoginContainer input[type="checkbox"].filled-in:checked + label:after {
    background: rgb(33, 150, 243);
    border: 2px solid rgb(33, 150, 243);
}

.rememberMeContainer {
    padding-left: 0 !important;
}

.sideBarErrorMsg p {
    color: red;
    font-size: 14px;
    margin-top: 0px;
    padding-left: 0px !important;
}

/* discussion posts styling */

.topic {
    background: white;
    border-radius: 2px;
    box-shadow: 0 1px 2px #c9cccd;
    margin: 25px 0 20px 0;
    padding: 15px 0;
    min-height: 190px;
    width: 100%;
    position: relative;
}

.topic .row {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.topic .userImageContainer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 3px;
}

.userImageContainer {
    position: relative;
    height: 100%;
}

.topic .userImageContainer p {
    margin: 0 auto;
    width: 100%;
}

.topic h3 {
    color: #363838;
    line-height: 25px;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.topic p {
    margin: 0 0 3px;
    color: rgb(114, 114, 114);
    font-size: 14px;
    line-height: 25px;
    height: 100%;
}

.topicContainer {
    position: relative;
    height: 100%;
    padding-right: 25px !important;
}

.topicDetails {
    height: 50px;
    background: white;
    border-top: 1px solid #cfd5d7;
}

.topicDetails .row {
    margin-top: 20px;
}

.topicLikeButton {
    position: absolute;
    top: -30px;
    right: 25px;
    background: #fbb83a;
}

.topicLikeButton svg {
    position: relative;
    top: 2px;
}

.topicLikeButton:hover, .topicLikeButton:active, .topicLikeButton:visited {
 background: #fbb83a;
}

.reportBtn {
    background-color: white;
    color: #d50000;
    border: 1px solid #d50000;
    padding: 0 0.5rem;
    line-height: 27px;
    height: 26px;
    margin-bottom: 10px;
    margin-left: 8px;
    font-size: 8px;
}

.postReport {
    margin-left: 0px !important;
}

#toast-container {
    top: auto !important;
    right: 5%;
    bottom: 10%;
    left: auto !important;  
  }

.reportBtn:hover {
    color: white;
    background-color: #d50000;
}

.topicDetails .created {
    color: #383636;
    padding-left: 0px !important;
}

.topicDetails .created span {
    font-size: 12px;
}

.topicDetails .fixed-action-btn {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
}

.topicDetails .fixed-action-btn.horizontal .shareIcon {
    color: rgb(189, 189, 189);
}

.topicDetails .fixed-action-btn.horizontal ul {
    right: 48px;
}

.topicDetails .fixed-action-btn.horizontal li {
    margin-top: 0;
    margin-right: 2px;
}

.topicDetails .fixed-action-btn.horizontal li a {
    text-align: center;
}

.topicDetails .fixed-action-btn.horizontal li a.facebook{
    background: #3b5998;
}

.topicDetails .fixed-action-btn.horizontal li a.twitter{
    background: #55acee;
}

.topicDetails .fixed-action-btn.horizontal li a.google{
    background: #dd4b39;
}

.topicDetails .fixed-action-btn.horizontal .shareBtn {
    background: rgb(245, 247, 250);
}

.topicDetails .controlBtns {
    position: relative;
}

/* regular post styling */

.post .topicDescription {
    margin-top: 10px;
}

.post .topicContainer {
    padding-top: 8px !important;
}

.postedOnContainer {
    margin-bottom: 0px;
}

.postedOn, .postedBy {
    color: #383636;
}

.postedOn {
    text-align: right;
}

.postedBy {
    text-align: left;
    padding-left: 0px !important;
    font-size: 18px;
}

.adminTitle {
    color: #ffa055 !important;
    font-size: 18px !important;
}

.postedOn span {
    font-size: 11px;
}

.postedBy a {
    color: #363838;
}

.postedBy a:hover {
    color: rgb(33, 150, 243);
}

.postContent {
    margin-bottom: 15px;
}

.likesContainer {
    padding-left: 0 !important;
}

.likesContainer .row {
    margin-top: 0px;
}

.likesContainer .row .likeBtnContainer {
    padding-left: 0px !important;
}

.likesContainer .likeBtnContainer span,
.likesContainer .dislikeBtnContainer span {
    margin-left: 7px;
    position: relative;
    top: 4px;
}

.likesContainer .likeBtnContainer span {
    color: rgb(26, 188, 156);
}

.likesContainer .dislikeBtnContainer span {
    color: rgb(219, 122, 122);
}

.likesContainer .likeBtn {
    background: rgb(245, 247, 250);
    text-align: center;
}

.likesContainer .likeBtnContainer svg {
    color: rgb(26, 188, 156);
}

.likesContainer .dislikeBtnContainer svg {
    color: rgb(219, 122, 122);
}

.dislikeBtnContainer {
    position: relative;
    left: -35px !important;
}

.postCreator {
    color: #363838;
    font-weight: 900;
}

.postCreator:hover {
    color: rgb(33, 150, 243);
}

.postIndex {
    padding-right: 45px !important;
    margin-bottom: 10px;
}

.postIndex a {
    color: #9e9e9e;
    font-size: 14px;
}

.postIndex a:hover {
    color: rgb(33, 150, 243);
}

.postIndexContainer {
    margin: 0;
}

.disabledBtn svg {
    color: rgb(245, 247, 250) !important;
}

.postAttachFiles {
    margin-bottom: 0px;
    margin-top: 20px;
}

.postAttachFiles li {
    padding: 5px;
    color: #363838;
    list-style-image: url('/public/images/content/attachmentIcon.svg');
    list-style-position: inside;
}

.postAttachFiles img {
    max-width: 325px;
}

.postAttachFiles p {
    font-size: 10px;
}

#postAttachFiles li span:first-child {
    /*white-space: nowrap;
    overflow: hidden;*/
    display: block;
    width: 270px;
    /*text-overflow: ellipsis;*/
    position: absolute;
    top: 3px;
    left: 25px;
}

/* replyContent */

.replyContent {
    padding: 20px;
    border: 1px dashed #cfd5d7;
    margin: 10px 30px 0px;
}

.replyContent .postedBy,
.replyContent .postedBy a {
    font-size: 12px;
}

/* overwrite breadcrumb styling */

.breadCrumb {
    margin-top: 20px;
}

/* quill editor styling */

.editorContainer {
    box-shadow: 0 1px 2px #c9cccd;
}

.ql-editor {
    min-height: 200px;
    background: white;
}

.ql-toolbar {
    background: #F5F7FA;
}

.ql-attachment:after {
    content: url('../images/content/attachmentIcon.svg');
}

#errorMsg {
    color: red;
}

#attachFiles ul {
    list-style-position: inside;
}

#attachFiles li {
    list-style-image: url('/public/images/content/attachmentIcon.svg');
    list-style-position: inside;
    position: relative;
    padding: 5px 5px 2px 5px;
    color: #363838;
}

#attachFiles li:hover {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}

#attachFiles li span:first-child {
    /*white-space: nowrap;
    overflow: hidden;*/
    display: block;
    width: 270px;
    /*text-overflow: ellipsis;*/
    position: absolute;
    top: 3px;
    left: 25px;
}

#attachFiles li span:last-child {
    color: red;
    position: absolute;
    right: 5px;
    top: 4px;
    cursor: pointer;
}

#attachFiles li span:last-child i {
    font-size: 17px;
    position: relative;
    top: 3px;
}

.replyBtn.disabled {
    color: rgb(245, 247, 250) !important;
}

/* comment card styling */

.commentCard {
    padding: 23px 0;
}

.commentCard .postContent {
    margin: 0px;
}

.commentCard .userImageContainer img {
    margin: 0;
}

.commentCard .topicContainer .row {
    margin: 15px 0 0 0;
}

.commentCard .topicContainer .replyLabel {
    margin-bottom: 10px; 
}

/* Unlogged style: hide comment editor */

.commentCardUnlogged {
    min-height: initial;
    height: 100px;
}

.commentCardUnlogged p {
    text-align: center;
    margin-top: 22px;
}