/* general styling */

.contentContainer {
    margin: 0;
    width: 100%;
    margin-bottom: 150px;
}

.textCenter {
    text-align: center;
}

.hide {
    display: none;
}

.noMargin {
    margin: 0;
}

.noBottomMargin {
    margin-bottom: 0px;
}

.noRightPadding {
    padding-right: 0 !important;
}

/* breadCrumb modify */

.breadCrumbContainer {
    margin: 0;
}

/* profileImage styling */

.profileImageContainer {
    position: absolute;
    top: -70px;
    width: 100%;
}

.profileImageContainer img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profileImageContainer .image {
    position: relative;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.profileImageContainer .fadeContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%
}

.profileImageContainer .changeAvatar:hover .fadeContainer {
    background: rgba(0,0,0,0.3);
    cursor: pointer;
}

.profileImageContainer .fadeContainer svg,
.profileImageContainer .fadeContainer p {
    color: white;
}

.profileImageContainer .fadeContainer svg {
    margin-top: 38px;
    display: none;
}

.profileImageContainer .fadeContainer p {
    font-weight: 900;
    margin: 5px 0 0 0;
    display: none;
}

.profileContainer .changeAvatar:hover .fadeContainer svg {
    display: inline;
}

.profileContainer .changeAvatar:hover .fadeContainer p {
    display: block;
}

/* user name styling */

.userName {
    font-size: 30px;
    font-weight: 900;
    color: #363838;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    word-wrap: break-word;
}

/* profil card styling */

.profileContainer {
    width: 100%;
    background: white;
    position: relative;
    top: 70px;
    border-radius: 2px;
    box-shadow: 0 1px 2px #c9cccd;
    /* padding: 145px 15px 15px 15px; */
    padding: 15px;
}

/* User counted informations styling */

.countContainer {
    color: #808080;
}

.countValue {
    font-size: 40px;
    margin: 3px 0;
}

.countTitle {
    margin: 3px 0;
}

.countIcon {
    margin-bottom: 0;
}

/* AvatarChange modal styling */

#avatarChange {
    width: 72%;
    min-height: 520px;
}

.tmpAvatarTitle {
    color: #363838;
    font-size: 22px;
    margin: 0px; 
}

.fileUpload {
    border-right: 1px solid #cfd5d7;
}

.tmpAvatarImage {
    margin: 85px 0;
}

.tmpAvatarImage img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    top: -16px;
}

.tmpAvatarHint {
    font-size: 14px;
    display: block;
    margin-left: 80px;
    margin-top: 2px;
}

.formContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 292px;
    left: 0;
}

.builtIn {
    position: relative;
}

.carousel {
    position: absolute;
    right: 0px;
    top: -93px;
}

.carousel a {
    height: 150px !important;
    width: 150px !important;
}

.modalContent {
    min-height: 250px;
}

.preloader-wrapper {
    margin-top: 10px;
}

#errorMsg {
    margin-top: 40px;
    color: red;
}

.sepContainer {
    position: absolute;
    top: 235px;
    left: 0;
    width: 100%;
}

.sepLine {
    border-bottom: 1px solid #cfd5d7;
}

.sepOrContainer {
    position: relative;
}

.sepContainer p {
    position: absolute;
    top: -25px;
    left: 40px;
    text-align: center;
    color: #363838;
}

/* tabs menu styling */

.tabsContainer {
    margin: 0 30px;
}

.tabList {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tabsContainer ul li a {
    color: #697683 !important;
}

.tabsContainer il li a.active {
    color: #2196f3 !important;
}

.tabsContainer ul .indicator {
    background-color: #2196f3 !important;
}

/* User statistics */

.chartTitle {
    color: #363838;
    font-size: 25px;
}

.lessMargin {
    margin: 10px 0;
}

.lessTopMargin {
    margin-top: 20px;
}

/* US - activity chart */

#userStatistics {
    margin-top: 30px;
}

.activityChartContainer {
    color: #ccc;
    padding-top: 10px !important;
}

.activityChartContainer p {
    margin-top: 0px;
}

#activityChart {
    width: 100%;
    height: 400px;
}

/* US - history chart */

.historyChartContainer {
    color: #ccc;
    padding-top: 10px !important;
}

#historyChart {
    width: 100%;
    height: 400px;
}

@import 'https://code.highcharts.com/css/highcharts.css';

#gradient-0 stop {
	stop-color: #50e2c3;
}
#gradient-0 stop[offset="0"] {
	stop-opacity: 0.5;
}
#gradient-0 stop[offset="1"] {
	stop-opacity: 0;
}

.highcharts-color-0 .highcharts-area {
	fill-opacity: 1;
	fill: url(#gradient-0);
}

/* US - pie chart */

.pieChartContainer {
    color: #ccc;
    padding-top: 10px !important;
}

#pieChart {
    width: 100%;
    height: 400px;
}

/* US - donut */

.noAcceptanceValue {
    position: relative;
    top: 180px;
}

/* US - traffic */

.reputationChartContainer {
    color: #ccc;
}

#reputationChart {
    height: 400px;
    background: #152B39;
}

#reputationChart .firstRow {
    margin-top: 33px;
}

.reputationCard {
    background: rgba(80, 226, 195, 0.3);
    background: linear-gradient(rgba(80, 226, 195, 0.8), rgba(80, 226, 195, 0));
    height: 150px;
}

.iconContainer {
    position: relative;
    top: 40px;
}

.lastIconContainer {
    top: 50px;
}

.reputationLabel {
    font-weight: bold;
}

.reputationValue {
    font-size: 25px;
}