/* general styling */

.textCenter {
    text-align: center;
}

.hide {
    display: none;
}

.clear {
    clear: both;
}

.noMargin {
    margin: 0;
}

.noPadding {
    padding: 0 !important;
}

.noLeftMargin {
    margin-left: 0 !important;
}

.noBottomMargin {
    margin-bottom: 0px !important;
}

.noTopMargin {
    margin-top: 0px !important;
}

.noRightPadding {
    padding-right: 0 !important;
}

.noLeftPadding {
    padding-left: 0 !important;
}

/* breadCrumb modify */

.breadCrumbContainer {
    margin: 0;
}

/* profileImage (at the center of the page) styling */

.profileImageContainer {
    position: absolute;
    top: -70px;
    width: calc(100% - 30px);
}

.profileImageContainer img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profileImageContainer .image {
    position: relative;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.profileImageContainer .fadeContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%
}

.profileImageContainer .changeAvatar:hover .fadeContainer {
    background: rgba(0,0,0,0.3);
    cursor: pointer;
}

.profileImageContainer .fadeContainer svg,
.profileImageContainer .fadeContainer p {
    color: white;
}

.profileImageContainer .fadeContainer svg {
    margin-top: 38px;
    display: none;
}

.profileImageContainer .fadeContainer p {
    font-weight: 900;
    margin: 5px 0 0 0;
    display: none;
}

.profileContainer .changeAvatar:hover .fadeContainer svg {
    display: inline;
}

.profileContainer .changeAvatar:hover .fadeContainer p {
    display: block;
}

/* user name styling */

.userName {
    font-size: 30px;
    font-weight: 900;
    color: #363838;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    word-wrap: break-word;
}

/* profil card styling */

.profileContainer {
    width: 100%;
    background: white;
    position: relative;
    top: 70px;
    border-radius: 2px;
    box-shadow: 0 1px 2px #c9cccd;
    padding: 15px;
}

/* User counted informations styling (next to the profile picture) */

.countContainer {
    color: #808080;
}

.countValue {
    font-size: 40px;
    margin: 3px 0;
}

.countTitle {
    margin: 3px 0;
}

.countIcon {
    margin-bottom: 0;
}

/* AvatarChange modal styling */

#avatarChange {
    width: 72%;
    min-height: 520px;
}

.tmpAvatarTitle {
    color: #363838;
    font-size: 22px;
    margin: 0px; 
}

.fileUpload {
    border-right: 1px solid #cfd5d7;
}

.tmpAvatarImage {
    margin: 85px 0;
}

.tmpAvatarImage img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    top: -16px;
}

.tmpAvatarHint {
    font-size: 14px;
    display: block;
    margin-left: 80px;
    margin-top: 2px;
}

.formContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 292px;
    left: 0;
}

.builtIn {
    position: relative;
}

.carousel {
    position: absolute;
    right: 0px;
    top: -93px;
}

.carousel a {
    height: 150px !important;
    width: 150px !important;
}

.modalContent {
    min-height: 250px;
}

.preloader-wrapper {
    margin-top: 10px;
}

#errorMsg {
    margin-top: 40px;
    color: red;
}

.sepContainer {
    position: absolute;
    top: 235px;
    left: 0;
    width: 100%;
}

.sepLine {
    border-bottom: 1px solid #cfd5d7;
}

.sepOrContainer {
    position: relative;
}

.sepContainer p {
    position: absolute;
    top: -25px;
    left: 40px;
    text-align: center;
    color: #363838;
}

/* tabs menu styling */

.tabsContainer {
    margin: 0 30px;
}

.tabList {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tabsContainer ul li a {
    color: #697683 !important;
}

.tabsContainer ul li a.active {
    color: #2196f3 !important;
}

.tabsContainer ul .indicator {
    background-color: #2196f3 !important;
}

/* User statistics */

.chartTitle {
    color: #363838;
    font-size: 25px;
}

.lessMargin {
    margin: 10px 0;
}

.lessTopMargin {
    margin-top: 20px;
}

/* US - activity chart */

#userStatistics {
    margin-top: 30px;
}

.activityChartContainer {
    color: #ccc;
    padding-top: 10px !important;
}

.activityChartContainer p {
    margin-top: 0px;
}

#activityChart {
    width: 100%;
    height: 400px;
}

/* US - history chart */

.historyChartContainer {
    color: #ccc;
    padding-top: 10px !important;
}

#historyChart {
    width: 100%;
    height: 400px;
}

@import 'https://code.highcharts.com/css/highcharts.css';

#gradient-0 stop {
	stop-color: #50e2c3;
}
#gradient-0 stop[offset="0"] {
	stop-opacity: 0.5;
}
#gradient-0 stop[offset="1"] {
	stop-opacity: 0;
}

.highcharts-color-0 .highcharts-area {
	fill-opacity: 1;
	fill: url(#gradient-0);
}

/* US - pie chart */

.pieChartContainer {
    color: #ccc;
    padding-top: 10px !important;
}

#pieChart {
    width: 100%;
    height: 400px;
}

/* US - donut */

.noAcceptanceValue {
    position: relative;
    top: 180px;
}

/* US - traffic */

.reputationChartContainer {
    color: #ccc;
}

#reputationChart {
    height: 400px;
    background: #152B39;
}

#reputationChart .firstRow {
    margin-top: 33px;
}

.reputationCard {
    background: rgba(80, 226, 195, 0.3);
    background: linear-gradient(rgba(80, 226, 195, 0.8), rgba(80, 226, 195, 0));
    height: 150px;
}

.iconContainer {
    position: relative;
    top: 40px;
}

.lastIconContainer {
    top: 50px;
}

.reputationLabel {
    font-weight: bold;
}

.reputationValue {
    font-size: 25px;
}

.reputationValueFirstLine {
    position: relative;
    top: -15px;
}

/* Favourite section */

.favouriteTitle {
    color: #363838;
    font-size: 25px;
}

.categoryCard {
    height: 300px;
}

.categoryCard .card-image, .categoryCard .card-image img {
    height: 220px;
}

.categoryCard .card-image {
    position: relative;
    z-index: 1;
}

.categoryCard .fade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.categoryCard:hover .fade {
    background-color: rgba(0, 0, 0, 0.3);
}

.categoryCard:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* favourite topics styling */

.favouriteTopicCard .contentCardBody {
    border-right: none;
}

.favouriteTopicCard {
    box-shadow: 2px 2px 9px #c9cccd !important;
}

/* topic cards styling */

.contentCard {
    background: white;
    border-radius: 2px;
    box-shadow: 0 1px 2px #c9cccd;
    margin-bottom: 20px;
    margin-top: 25px;
    padding: 15px 0;
    height: 190px;
}

.contentCard .createdByContainer {
    position: relative;
    height: 100%;
}

.contentCard .createdByContainer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: -4px;
}

.contentCardBody {
    position: relative;
    height: 100%;
    border-right: 1px solid #cfd5d7;
    padding-right: 25px !important;
}

.contentCard .contentCardBody h3 {
    color: #363838;
    line-height: 25px;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.contentCard .contentCardBody p {
    margin: 0;
    color: rgb(114, 114, 114);
    font-size: 14px;
    line-height: 25px;
}

.topicCategory {
    position: absolute;
    bottom: 0;
    left: 10px;
    margin: 0 !important;
    border-radius: 5px;
    line-height: 29px;
    background: none;
    border: 1px solid #e4e4e4;
    box-shadow: 1px 1px 1px #E4E4E3;
}

.contentCard .comments {
    border-bottom: solid 1px #cfd5d7;
    text-align: center;
    padding: 18px 0 25px 0;
}

.contentCard .commentbg {
    border-radius: 2px;
    background: #2196f3;
    display: inline-block;
    padding: 10px 25px;
    color: white;
    font-size: 14px;
    position: relative;
}

.contentCard .mark {
    width: 11px;
    height: 11px;
    background: #2196f3;
    position: absolute;
    bottom: 0;
    left: 43%;
    margin-bottom: -5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.contentCard .time {
    color: #9da6aa;
    font-size: 14px;
    text-align: center;
    line-height: 29px;
}

.contentCard .time .iconTitle {
    color: #9da6aa;
    font-size: 12px;
    text-align: center;
    line-height: 29px;
    margin-top: 5px;
}

.contentCard .redirectLink {
    float: right;
    margin-top: 9px !important;
}

.contentCard .redirectLink svg {
    padding-top: 2px;
}

/* latest post (in the sidebar) styling */

.latestPostsContainer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all 0.5s linear;
    top: 0;
} 

.latestPostsContainer ul:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border: 1.5px dotted #989c9e;
    position: absolute;
    top: 0;
    left: 70px;
}

.latestPostsContainer ul li {
    margin: 20px 100px 60px;
    position: relative;
    padding: 10px 20px;
    background: #E4E4E4;
    color: #363838;
    border-radius: 10px;
    line-height: 20px;
    width: 70%;
}

.latestPostsContainer ul li > span {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border: 1.5px double #989c9e;
    position: absolute;
    top: 0;
    left: -30px;
}

.latestPostsContainer ul li > span:before, .latestPostsContainer ul li > span:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #2196f3;
    border: 2px solid #2196f3;
    position: absolute;
    left: -7.5px;
}

.latestPostsContainer ul li > span:before {
    top: -10px;
}

.latestPostsContainer ul li > span:after {
    top: 95%;
}

.latestPostsContainer .title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
    color: #363838;
}

.latestPostsContainer .info:first-letter {
    text-transform: capitalize;
    line-height: 1.7;
}

.latestPostsContainer .name {
    margin-top: 10px;
    text-transform: capitalize;
    font-style: italic;
    text-align: right;
}

.latestPostsContainer .time span {
    position: absolute;
    left: -100px;
    color: #363838;
    font-size: 80%;
    font-weight: bold;
}

.latestPostsContainer .time span:first-child {
    top: -10px;
}

.latestPostsContainer .time span:last-child {
    top: 90%;
}

/* Profile page own Things section styling */

#animationWindow {
    width: 10%;
    -webkit-tap-highlight-color:transparent;
    margin: 15px auto 0;
   
    cursor:pointer;
}

.eggPath0 {
    fill: #152b39;
}

.eggPath1 {
    fill: white;
}

.ownTitle {
    color: #363838;
    font-size: 25px;
}

.ownTopicContainer {
    padding-left: 24px !important;
    position: relative;
}

.ownTopicCard {
    box-shadow: 2px 2px 9px #c9cccd;
}

.ownTopicBottomSection {
    position: absolute;
    bottom: 0;
    width: calc(100% - 24px);
    margin-bottom: 0;
}

.ownCreatedAt {
    bottom: 0;
    position: relative;
}

.contentCard .createdAt {
    position: relative;
    top: 10px;
}

.heartContainer {
    margin-top: 16px;
}

/* profile page own things Own post */

.ownPostTopicCard {
    height: 135px;
    box-shadow: 2px 2px 9px #c9cccd;
    margin-top: 100px;
}

.ownPostTopicContainer {
    border-right: none;
    padding-left: 24px !important;
    position: relative;
}

.ownPostTopicBottomSection {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 24px);
    margin-bottom: 0;
}

.ownPostText {
    color:rgb(114, 114, 114);
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}

.ownPostCard {
    height: 135px;
    box-shadow: 2px 2px 9px #c9cccd;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.ownPostBottomSection {
    position: absolute;
    bottom: 5px;
    width: calc(100% - 24px);
    margin-bottom: 0;
}

.ownPostRightSection {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: rgb(114, 114, 114);
}

/* three dots */

.threeDot:after {
    content: '\2807';
    font-size: 30px;
    color: #9da6aa;
    font-weight: 100;
    text-shadow: 2px 2px 6px #9da6aa;
}

/* General information section */

.profileTitle {
    color: #363838;
    font-size: 25px;
}

.personalInformationContainer {
    box-shadow:2px 2px 9px #c9cccd;
    border-radius: 2px;
    padding: 20px 20px 0 20px !important;
    margin-left: 15px !important;
}

.personalInformationIcon {
    padding: 0px !important;
}

.personalInformationLabel {
    padding-left: 8px !important;
}

.badge {
    color: #fff;
    margin: 0px 15px 15px 15px;
}

.ownBadge {
    background:#204d52 !important;
}

.badge svg {
    margin-bottom: 3px;
    margin-right: 5px;
    font-size: 6.5px;
}

.badgeContainer {
    margin: 0px 20px !important;
}

.badgeDetails {
    margin: 25px 0px;
    min-height: 36px !important;
    padding-top: 6px !important;
}

.badgeDetails a {
    color: #363838; 
}

.badgeDetails a:hover {
    color: #039be5;
}

.suspendBtn {
    background-color: white;
    color: #d50000;
    border: 1px solid #d50000;
    padding: 0 0.5rem;
    line-height: 30px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 8px;
    font-size: 12px;
}

.suspendBtn:hover {
    color: white;
    background-color: #d50000;
}

/* settings */

.settings {
    margin-top: 25px;
}

.verticalTabContainer {
    margin-left: 12px !important;
}

.verticalTabs {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: auto;
    float: left;
    display: flex;
}

.verticalTabs .indicator {
    display: none;
}

.verticalTabs li {
    text-align: left !important;
}

.verticalTabs .active {
    font-weight: 900;
}

.verticalTabContent {
    margin-left: 5px !important;
}

.settingsErrorMsg {
    color: red;
}

.settingsErrorMsgList li {
    color: red;
    margin-bottom: 10px;
    list-style-type: disc !important;
    list-style-position: inside;
}

.settingsPreloader {
    position: absolute;
    right: 110px;
    bottom: 20px;
}

/* account tab */
.input-field label {
    color: #737f8e;
}

.accountInput {
    width: 574px;
}

.accountInput input[type=text] {
    border-bottom: 1px solid #737f8e !important;
    width: 574px;
}

.accountInput input[type=text]:focus + label {
    color: #039be5;
}

.accountInput input[type=text]:focus {
    border-bottom: 1px solid #039be5 !important;
    box-shadow: 0 1px 0 0 #039be5 !important;
}

.accountInput input[type=email] {
    border-bottom: 1px solid #737f8e !important;
    width: 574px;
}

.accountInput input[type=email]:focus:not([readonly]) + label {
    color: #039be5;
}

.accountInput input[type=email]:focus {
    border-bottom: 1px solid #039be5 !important;
    box-shadow: 0 1px 0 0 #039be5 !important;
}

.accountInput textarea {
    border-bottom: 1px solid #737f8e !important;
    width: 574px;
    padding-bottom: 0px;
}

.accountInput textarea:focus:not([readonly]) + label {
    color: #039be5;
}

.accountInput textarea:focus {
    border-bottom: 1px solid #039be5 !important;
    box-shadow: 0 1px 0 0 #039be5 !important;
}

.accountInput .prefix.active {
    color: #039be5;
}

#modifyAccount {
    margin-left: 22px !important;
}

.inputHelper {
    display: block;
    margin-top: 5px;
    color: #919191;
    margin-bottom: 10px;
    font-size: 0.8em;
    line-height: 1.4;
}

.noLabel {
    color: white;
}

.accountInputContainer {
    margin-top: 40px;   
    position: relative;
}

/* Delete profile tab */

.deleteDescriptionContainer {
    text-align: justify;
    text-justify: inter-word;
}

.deleteDescription {
    margin-bottom: 40px;
}

.first {
    margin-bottom: 10px;
}
  
.deleteAccount {
    margin-top: 40px;
    margin-bottom: 40px;
}

#approvedDeletion:checked + label:before{ 
    border-right: 2px solid #039be5;
    border-bottom: 2px solid #039be5;
}

#approvedDeletion + label {
    color: #000;
}

.deleteProfileError {
    color: red;
}

/* notification tab */

#notifications {
    margin-top: 10px;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #039be5;
  }
  
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #039be5;
}

.noti {
    margin-bottom: 40px;
}

.labeledNoti {
    margin-bottom: 30px;
}

.labeledSwitch {
    padding-left: 8px !important;
}

.notiOptionsContainer {
    margin-top: -4px;
    padding-left: 5px !important;
}

.notiOptions label {
    float: left;
    width: 100px;
	margin: 0px;
    background-color: #FFF;
    border: 1px solid #D0D0D0;
    overflow: auto;
}

.notiOptions label span {
    text-align: center;
    font-size: 13px;
    padding: 5px 0px;
    display: block;
}

.notiOptions label input {
    position: absolute;
    top: -20px;
}

.notiOptions input:checked + span {
    background-color: #039be5;
    color: white;
}

.notiOptions .white {
    background-color: #FFFFFF;
    color: #000;
}

.saveNotificationSettingsBtn {
    margin-left: 5px;
}

/* Badge System Modal styling */

#badgeSystem {
    min-width: 700px;
}

.badgeSystemDetails {
    min-height: 137px !important;
    border: 1px solid #cfd5d7;
    border-radius: 2px;
}

.badgeSystemDetails .badge {
    margin: 15px;
    background: #40b19e;
}

.middleElement {
    min-height: 45px !important;
}

.earnedLabel {
    color: rgb(114, 114, 114);
    font-size: 11px;
}
