/* general styling */

h2 {
    font-size: 30px;
    margin-top: 20px;
}

/* section style */

.titleSection {
    border-bottom: 1px solid black;
    margin-left: .3rem !important;
    margin-right: .3rem !important;
}

.titleSection h3 {
    border-bottom: 1px solid black;
    padding-bottom: 16px;
    margin-bottom: 0;
    display: inline-block;
    font-size: 18px;
    margin-top: 25px;
}

.ruleTxt p {
    text-align: justify;
    margin-left: 1.75rem;
    margin-right: 1.75rem;
    line-height: 27px;
}

.generalTxt {
    line-height: 27px;   
}

